flask
flask_cors
transformers
diffusers
torch
pillow
python-docx
pandas
pdfplumber
tabula-py
pymupdf
pytesseract
openai
requests
sqlalchemy
flask_sqlalchemy
flask_session
werkzeug 
python-dotenv